.main__about {
    background-color: #EAF2FD;
    border-radius: 1rem;
}

@media  only screen and (min-width: 900px) {
    .main__about {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 4vh;
        width: 75%;
        margin: 0 0 0 0;
        border-radius: 3rem;
    }
}