.main__about {
    background-color: #EAF2FD;
    border-radius: 1rem;
}

@media  only screen and (min-width: 900px) {
    .main__about {
        padding: 5rem;
        margin: 5rem 20rem 0 20rem;
        border-radius: 3rem;
    }
}