.main__formation {
    background: #EAF2FD;
    border-radius: 1.5rem;
    width: 100%;
}

@media  only screen and (min-width: 900px) {
    .main__formation {
        padding: 4vh;
        width: 75%;
        border-radius: 3rem;
    }
}