.header__email {
    font-size: 0.5rem;
    color: #666666;
    font-weight: 600;
}

@media  only screen and (min-width: 600px) {
    .header__email {
        font-size: 0.75rem;
        font-weight: bold;
        color: #5E5E5E;
    }
}

@media  only screen and (min-width: 1200px) {
    .header__email {
        font-size: 0.8rem;
        font-weight: bold;
        color: #5E5E5E;
    }
}
    