.main__SandH__grid {
    justify-content: space-around;
    background: #F5F5F5;
    display: grid;  
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto;
}

@media  only screen and (min-width: 600px) {
    .main__SandH__grid {
        justify-content: space-around;
        background: #F5F5F5;
        display: grid;  
        grid-template-columns: auto auto auto auto;
        grid-template-rows: auto auto; 
        margin: 1rem 0 1rem 0;
    }
}

@media  only screen and (min-width: 900px) {
    .main__SandH__grid {
        justify-content: space-around;
        background: #F5F5F5;
        display: grid;  
        grid-template-columns: auto auto auto auto auto auto auto auto;
        grid-template-rows: auto; 
    }
}