#main__about__sign {
    background-image: url(../../../../img/sign.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    padding-bottom: 1rem;
    margin: 0 0 0 1rem;
    width: 8.5rem;
    height: 3rem;
    border-radius: 1.5rem;
}

@media  only screen and (min-width: 600px) {
    #main__about__sign {
        width: 12rem;
        height: 4rem;
        border-radius: 1rem;
        margin: 1rem 0 0 2rem;
    }
}
@media  only screen and (min-width: 900px) {
    #main__about__sign {
        width: 18rem;
        height: 6rem;
        border-radius: 1.5rem;
        margin: 1rem 0 0 2rem;
    }
}