#main__experience__professional__box__img__hangman {
    background-image: url(../../../../../../../img/experience/hangman.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 19rem;
    height: 9.5rem;
    border-radius: 1.5rem;
}