#main__SandH__skills__css {
    background-image: url(../../../../../img/SandH/skills/css.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 1.5rem;
    margin: 1rem 0 1rem 0;
    width: 9rem;
    height: 9rem;
}