#main__SandH__skills__php {
    background-image: url(../../../../../img/SandH/skills/php.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 1.5rem;
    margin: 1rem 0 1rem 0;
    width: 9rem;
    height: 9rem;
}

@media  only screen and (min-width: 900px) {
    #main__SandH__skills__php {
        width: 12rem;
        height: 12rem;
    }
}