.main__contact__sub {
    text-align: center;
    margin: 1rem 0 1rem 1rem;
    font-style: normal;
    font-weight: 400;
    font-size: 1.2rem;
    color: #202020;
}

@media  only screen and (min-width: 600px) {
    .main__contact__sub {
        font-size: 1.5rem;
    }
}

@media  only screen and (min-width: 900px) {
    .main__contact__sub {
        font-size: 2rem;
        margin-bottom: 1rem;
    }
}