.main__formation__academic__box__info__main {
    text-align: left;
    font-style: normal;
    margin: 0.8rem 0 0 1.1rem;
    font-weight: 700;
    font-size: 1.1rem;
    color: #313131;
}

@media  only screen and (min-width: 600px) {
    .main__formation__academic__box__info__main {
        font-size: 1.25rem;
    }
}

@media  only screen and (min-width: 900px) {
    .main__formation__academic__box__info__main {
        font-size: 1.8rem;
    }
}