#main__header__text__links__arrow {
    background-image: url(../../../../../../img/right__arrow.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 1rem;
    height: 1rem;
}