#main__header__photo {
    background-image: url(../../../../img/photo__owen.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 3rem;
    margin: 1rem 0 1rem 0;
    width: 6rem;
    height: 6rem;
}


@media  only screen and (min-width: 600px) {
    #main__header__photo {
        width: 12rem;
        height: 10rem;
        border-radius: 10rem;
        order: 1;
        margin: 1rem 0rem 0rem 0;
    }
}

@media  only screen and (min-width: 900px) {
    #main__header__photo {
        width: 24rem;
        height: 20rem;
        border-radius: 4rem;
        order: 1;
        margin: -1rem 0 0 0;
    }
}