.main__header__text {
    display: block;
}

@media  only screen and (min-width: 600px) {
    .main__header__text {
        width: 85%;
        margin: 0 1rem 0 0;
    }
}

@media  only screen and (min-width: 900px) {
    .main__header__text {
        margin: 0 3rem 0 0;
    }
}