.main__formation__academic {
    justify-content: space-around;
    display: grid;  
    grid-template-columns: auto;
    grid-template-rows: auto auto auto; 
}

@media  only screen and (min-width: 600px) {
    .main__formation__academic {
        grid-template-columns: auto auto;
        grid-template-rows: auto auto; 
    }
}

@media  only screen and (min-width: 900px) {
    .main__formation__academic {
        grid-template-columns: auto auto auto;
        grid-template-rows: auto; 
    }
}