#main__formation__academic__box__udg {
    background-image: url(../../../../../../img/formation/udg.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 19rem;
    height: 9.5rem;
    border-radius: 1.5rem;
}

@media  only screen and (min-width: 900px) {
    #main__formation__academic__box__udg {
        width: var(--main--formation--academic--box--img--width);
        height: var(--main--formation--academic--box--img--height);
        border-radius: 3rem;
    }
}